* {
    box-sizing: border-box;}
    
    body {
    margin: 0px;
    font-family: sans-serif;
    background-color: lightskyblue;
}
    
    #grid-layout {
    display: grid;
    margin-top: 36px;
    grid-template-columns: 1fr 200px 550px 200px 1fr;
    grid-template-areas: ". left-sidebar main-area right-sidebar .";
}
    
    #sidebar-column-1 h2, #sidebar-column-2 h3 {
    border-bottom: 2px solid #AAAAAA;
    padding-bottom: 8px;
}
    
    
    #sidebar-column-1 {
    margin-left: 24px;
    grid-area: left-sidebar;
}
    
    #primary-column {
    padding: 0px 36px;
    grid-area: main-area;
}  
 
    #primary-column .inner-content {
    max-width: 600px;
    margin: 0px auto;
}
    #bigger {
        height: 400px;
    }
    
    #sidebar-column-2 {
    margin-right: 24px;
    grid-area: right-sidebar;
}
    
    
    #sidebar-column-1 .inner-content,#sidebar-column-2 .inner-content {
    background-color: lightpink;
    padding: 24px;
    border-radius: 4px;
}
#wishlist,#buy,#cart {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: lavender;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid lightcoral;
    transition:
        background-color .5s,
        color .5s;
}

#wishlist,#buy,#cart {
    background-color: lightskyblue;
    color: lavender;
}
    