@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Delius+Swash+Caps&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'delius swash caps', static;
}
#navbar {
    font-family: 'chewy', static;
}
#footer {
    font-family: 'chewy', static;
}
.contain {
    width: 80vw;
    max-width: 1440px;
    margin: 0px auto;
}
#navbar {
    background: #F79410;
    position: sticky;
    top: 0px;
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 24px;
        font-size: 50px;
    }
    img {
        width: 200px;
    }
    #logo {
        margin-right: auto;
    }
}
#hero-2 {
    background-image: url(../images/lemmonhero.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    .hero-content {
        position: absolute;
        top: 10%;
        left: 15%;
    } 
    a  {
        font-size: 24px;
        display: inline-block;
        background-color: #333;
        color: white;
        text-decoration: none;
        padding: 24px;
        margin-top: 36px;
    
    }
}
#main {
    display: flex;
}
#vegan {
    width: 500px;
    display: flex;
    padding: 24px;
}
#footer {
    background: #F79410;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

/*
    Layout setup and configuration
*/
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}
.single-column {
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    background-color: whitesmoke;
    color: #00a651;
    padding: 80px;
}

/*
    Here we make our .card-container into a flexbox
    and tell it to space out the flex items using
    justify content with space-between.

    If you'd rather the card be centered, you could
    always change justify-content to center.
*/
.card-container {
    display: flex;
    justify-content: space-between;
}

/*
    The flex: 1; below makes each card equally
    sized within the flexbox (unless the container
    gets too small, then they may get squished).

    However, if you don't want them to grow too
    wide, you may want to consider adding a 
    max-width property.
*/
.card {
    flex: 1;
    border: 3px solid #00a651;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
h4 {
    padding: 24px;
}
h1 {
    padding-right: 24px;
}
@media screen and (max-width: 480px) {
    .contain {
        flex-direction: column; 
    }
    .card-container {
        flex-direction: column;
    } 
    .card {
        padding: 0px;
    }
    #footer-navbar {
        flex-direction: column;
    }
    #main {
        flex-direction: column;
        padding: 24px
    }
}




  
