@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Chewy&family=Delius+Swash+Caps&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'atma', static;
    background-color: cadetblue;
}

.single-column {
    width: 50%;
    min-width: 500px;
    max-width: 1440px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0px auto;
}
#navbar {
    background: black;
    position: sticky;
    top: 0px;
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 24px;
        font-size: 24px;
    }
    img {
        width: 200px;
    }
    #logo {
        margin-right: auto;
    }
}
.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    img {
        width: 100%;
    }
}
#button {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    padding: 24px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 50px solid cadetblue;
    transition: background-color 0.5s, color 0.5s;
}
#button:hover {
    background-color: white;
    color: white;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
    font-weight: 600;
}
h3 {
    font-size: 18px;
    font-weight: 500;
}
h4 {
    font-weight: 500;
    font-size: 18px;
}
@media screen and (max-width: 480px) {
    .contain {
        flex-direction: column; 
    }
    .card-container {
        flex-direction: column;
    } 
    .card {
        padding: 0px;
    }
    #footer-navbar {
        flex-direction: column;
    }
}